@import '../../sassStyles/colors';
@import '../../sassStyles/typography';
@import '../../sassStyles/base';

.logo {
  height: 70px;
}

.auth {
  max-width: 400px;
  height: 100%;
  margin: auto 0;
  padding: 35px 20px 20px;
  font-family: $main-ff;
  color: $clr-primary;
  background: $clr-accent;

  &__title {
    padding: 20px 0;
    font-size: 1.8rem;
    font-weight: 700;
    line-height: 1;
    text-align: center;
  }

  input {
    box-sizing: border-box;
    width: 100%;
    margin: 8px 0 15px;
    padding: 10px;
    font-family: $main-ff;
    font-size: 0.75rem;
    border: 2px solid $clr-primary;
  }

  label {
    font-weight: 600;
  }

  .btn__register {
    margin: 0;
    color: $main-bgc;
    background: $clr-primary;
  }

  &__error,
  &__success {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
    font-size: 0.9rem;
    color: #d50606;

    img {
      margin-right: 10px;
    }
  }

  &__success {
    font-weight: 600;
    color: #077057;
  }

  &__reminder {
    font-weight: 500;
    color: #1960a6;
    font-size: 0.9375rem;
  }
  
  &__footer {
    text-align: center;
  }
  
  &__link {
    font-weight: 600;
    color: #b8613a;
    text-align: center;
  }
}