@import '../../sassStyles/colors';
@import '../../sassStyles/typography';
@import '../../sassStyles/base';
@import '../../sassStyles/variables';

body {
  //background: $clr-accent;
}

.nav {
  &__list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: $content-width;
    margin: 0 auto;
    list-style: none;
  }
}

.form {
  max-width: $content-width;
  width: 90%;
  margin: 20px auto 0;
  padding: 20px;
  background-color: #fff;
  border: 2px solid $clr-primary;

  input {
    width: 100%;
    padding: 10px 5px;
    color: $clr-primary;
    border: 2px solid $clr-primary;
  }

  label {
    display: inline-block;
    margin-top: 5px;
  }

  &__intro {
    padding: 0 0 10px;
    text-align: center;

    label {
      padding: 10px 0 15px;
      font-weight: 600;
      font-size: 1rem;
    }
  }
  
  &__card {
    padding: 15px;
    background-color: #fff;
    border: 2px solid $clr-primary;

    label {
      color: $clr-blue;
      font-weight: 500;
    }
  }

  &__row {
    margin-bottom: 10px;
  }
  
  &__add {
    display: block;
    margin: 20px auto 0;
    color: #fff;
    font-weight: 400;
    text-align: center;
    text-decoration: none;
    background: $clr-primary;

  }
}

.ok {
  font-size: 1.3rem;
  color: #fff;
  font-weight: 400;
  letter-spacing: 1px;
  background: $clr-primary;
  border: 2px solid $clr-primary;

  &:hover {
    box-shadow: -5px 5px 0 $clr-accent;
  }
}

.new-collection {
  background: $clr-accent;
  height: 100%;
}