@import '../../sassStyles/colors';
@import '../../sassStyles/typography';
@import '../../sassStyles/base';

body {
  //background-color: $main-bgc !important;
}

.account {
  width: 90%;
  margin: 30px auto 0;
  background: #fff;
  padding: 20px;
  border: 2px solid $clr-accent;

  &__title {
    padding: 20px 0;
    font-size: 1.4rem;
    font-weight: 700;
    line-height: 1;
    text-align: center;
  }

  &__content {
    padding: 10px 0 20px;
  }

  &__btn {
    display: block;
    margin: 20px 0;
    text-decoration: none;
    text-align: center;
    background: $clr-accent;
  }
}