@import '../../sassStyles/colors';
@import '../../sassStyles/typography';
@import '../../sassStyles/base';

body {
  background-color: $clr-blue;
}

.nav {
  display: flex;
  flex-direction: row;
  align-items: end;
  justify-content: space-between;
  padding: 15px 20px;
  background: #fff;
  border-bottom: 2px solid $clr-primary;

  &__title {
    flex-grow: 1;
    margin-right: 24px;
    padding-bottom: 2px;
    font-weight: 500;
    color: $clr-primary;
    text-align: center;
  }

  img {
    max-width: 20px;
  }

  &__button {
    color: $clr-mandarin;
    font-size: 1.1rem;
    font-weight: 600;
    text-decoration: none;
  }
}