@import '../sassStyles/variables';

* {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
  padding: 0;
}

.App {
  height: 100vh;
}

body {
  font-family: $main-ff;
  color: $clr-primary;
}

.btn {
  margin: 10px 0 15px;
  padding: 10px 30px;
  //transition: background-color 250ms ease;
  font-weight: 700;
  font-size: 1rem;
}

.btn--lg {
  width: 100%;
  padding: 10px 0;
}

.title {
  font-size: 1rem;
  font-weight: 400;
}

.icons-credits {
  display: block;
  text-align: center;

  a {
    color: $clr-primary;
    text-decoration: none;
  }
}

.frame {
  position: absolute;
  left: 8px;
  top: 8px;
  z-index: 1;
  height: 100%;
}