@import '../sassStyles/variables';

@mixin tablet {
  @media (min-width: 500px) {
    @content;
  }
}

* {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
  padding: 0;
}

body {
  font-family: $main-ff;
  color: $clr-primary;
}

.btn {
  margin: 10px 0 15px;
  padding: 10px 30px;
  transition: background-color 250ms ease;
  font-weight: 700;
  font-size: 1rem;
  cursor: pointer;
  opacity: 1;

  &:hover {
    transition: 0.3s;
    transform: translate(2px, -2px);
  }
}

.btn--lg {
  width: 100%;
  padding: 10px 0;
}

.title {
  font-size: 1rem;
  font-weight: 400;
}

.icons-credits {
  display: block;
  text-align: center;

  a {
    color: $clr-primary;
    text-decoration: none;
  }
}

.frame {
  position: absolute;
  left: 8px;
  top: 8px;
  z-index: 1;
  height: 100%;
}

.App {
  height: 100vh;

  @include tablet {
    max-width: 350px;
    height: 636px;
    margin: 5% auto 0;
    border: 2px solid $clr-primary;
    border-radius: 10px;
    background: $clr-primary;
    overflow-y : auto;
    overflow-x: hidden;
  }
}

