@import '../../sassStyles/colors';
@import '../../sassStyles/typography';
@import '../../sassStyles/base';

.info {
  flex-grow: 1;
  align-items: center;
  padding: 13% 25px 0;
  background: $clr-blue;
  color: #fff;
  font-weight: 400;

  h4 {
    padding: 20px 0 50px;
    font-size: 1.3rem;
    line-height: 1.9rem;
    font-weight: 400;
  }

  &__btn {
    display: block;
    padding: 10px 15px;
    margin-bottom: 10px;
    font-size: 1rem;
    color: #fff;
    text-transform: lowercase;
    border: 2px solid $clr-primary;
    text-decoration: none;
    background: $clr-primary;
    cursor: pointer;
  }
}

.info + .learning__counter {
  border: 3px solid red;
}