@import '../../sassStyles/colors';
@import '../../sassStyles/typography';
@import '../../sassStyles/base';

.learning {
  height: 100vh;
  background: $clr-primary;

  &__nav {
    background: none;
    border-bottom: 1px solid $clr-blue;

    .title {
      color: $clr-blue;
      font-weight: 400;
    }
  }

  &__set {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    min-height: 400px;
    padding: 30px 20px;
  }

  &__single {
    position: relative;
    flex-basis: 90%;
    max-width: 300px;
    min-height: 400px;

    &.reverse {
      transform: rotateY(360deg);
    }
  }

  &__card {
    position: relative;
    z-index: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    font-weight: 600;
    text-align: center;
    border: 3px solid $clr-primary;
    background-color: #fff;
    transform-style: preserve-3d;
    transition: 150ms;
    transform:
            perspective(1000px)
            rotateY(var(--rotate-y, 0))
            translateY(var(--translate-y, 0));

    &.reverse {
      --rotate-y: 180deg;
    }
  }

  &__question,
  &__answer {
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    backface-visibility: hidden;
    padding: 0 15px;
    font-size: 1.2rem;
  }

  &__question {
    top: 50%;
  }

  &__answer {
    top: 25%;
    left: unset;
    transform: rotateY(180deg);
  }

  .reverse {
    .learning__counter {
      transform: rotateY(180deg);
    }
  }

  &__counter {
    width: 100%;
    padding: 15px;
    font-size: 1.2rem;
    background: rgb(254, 134, 112);
    border-bottom: 3px solid $clr-primary;
  }

  &__instruction {
    color: #adadad;
    font-size: 1.1rem;
  }

  &__title {
    flex-grow: 1;
    text-decoration: none;
  }

  &__frame {
    width: 100%;
    border: 2px solid $clr-blue;
    background-color: $clr-blue;
  }

  &__buttons {
    display: flex;
    align-items: start;
    justify-content: center;
    width: 100%;
    margin: 20px 0 0 10px;
  }

  &__button {
    display: flex;
    align-items: center;
    width: 60px;
    height: 60px;
    padding: 10px 15px;
    font-weight: 500;
    text-decoration: none;
    background: $main-bgc;
    border-radius: 50%;

    img {
      max-width: 30px;
    }

    &:nth-child(2) {
      margin-left: 40px;
    }
  }
}